<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_GB">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }} — {{ site.tagline }}{% endif %}">
<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
<meta property="og:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 200 | escape }}">
<meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
<meta property="og:image" content="{{ page.feature_image | default: site.data.author.image | absolute_url }}">
<meta property="fb:app_id" content="3266415903390955">
{%- if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
<meta property="article:author" content="{{ '/about/' | absolute_url }}">
{%- for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}">
{%- endfor %}
{%- endif %}
