<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@petersowah_">
<meta name="twitter:creator" content="@petersowah_">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }} — {{ site.tagline }}{% endif %}">
<meta name="twitter:description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 200 | escape }}">
<meta name="twitter:image" content="{{ page.feature_image | default: site.data.author.image | absolute_url }}">
